<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Length In Weeks</th>
      <th>Days Per Week</th>
    </tr>
  </thead>
  <tbody>
    <% programs.forEach(function(p) { %>
      <tr>
        <td>
          <%= p.title %>
        </td>
        <td>
          <%= p.lengthInWeeks %>
        </td>
        <td>
          <%= p.daysPerWeek %>
        </td>
        <td><a href="/programs/<%= p._id %>">Daily Schedule</a></td>
        <td>
          <form action="/programs/<%= p._id %>?_method=DELETE" method="POST">
          <button class="deleteBtn" type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>

<img class="indexPageImg" src="https://i.imgur.com/BOruxV2.jpg" alt="">


<!-- take away the "=" and you can loop over your programs-for loop programs.length  -->





<%- include('../partials/footer') %>
