<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Length In Weeks</th>
      <th>Days Per Week</th>
    </tr>
  </thead>
  <tbody>
    <% programs.forEach(function(p) { %>
      <tr>
        <td>
          <%= p.title %>
        </td>
        <td>
          <%= p.lengthInWeeks %>
        </td>
        <td>
          <%= p.daysPerWeek %>
        </td>
        <td><a href="/programs/<%= p._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>


<!-- take away the "=" and you can loop over your programs-for loop programs.length  -->





<%- include('../partials/footer') %>
