<%- include('../partials/header') %>

<section>
  <div>Title:</div>
  <div><%= program.title %></div><br>
  <div>Length in Weeks:</div>
  <div><%= program.lengthInWeeks %></div><br>
  <div>Days Per Week:</div>
  <div><%= program.daysPerWeek %></div><br>
</section>


<!-- loop over tmeplates array then order the results based on the day -sort method?? -->
<!-- turn the tables into forms and each form needs an edit option- can change and resubmit the program -->

<form action="/programs/<%= program._id %>">
<% let daysOfWeek = ['0','1','2','3','4','5','6'] %>
<% program.templates.forEach(function(template){ %>

  <h3><%= daysOfWeek[template.day] %></h3>
 
  <table>
    <tr>
      <th>Exercise</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <% for (let i = 0; i < 7; i++){ %>
      <tr>
        <td><input type="text" name="exercise" value="<%=template.exercise[i] %>" /></td>
        <td><input type="number" name="weight" value="<%=template.weight[i] %>" /></td>
        <td><input type="number" name="sets" value="<%=template.sets[i] %>" /></td>
        <td><input type="number" name="reps" value="<%=template.reps[i] %>" /></td>  
      </tr>
    
    <% } %>
    
    
    
  </table>
  



  
  <% })  %>


  <button class="submitBtn" type="submit">SUBMIT</button><br><br>
</form>






<% if (user) { %>
<form
  id="add-comment-form" method="POST" action="/programs/<%= program._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <button class="deleteBtn" type="submit">Add Comment</button>
</form>
<% } %>

<% if (program.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% program.comments.forEach(function(c) { %>
        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
          <td><%= c.content%></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>


<% } %> <%- include('../partials/footer') %>


