<%- include('../partials/header') %>

<section>
  <div>Title:</div>
  <div><%= program.title %></div><br>
  <div>Length in Weeks:</div>
  <div><%= program.lengthInWeeks %></div><br>
  <div>Days Per Week:</div>
  <div><%= program.daysPerWeek %></div><br>
</section>




<table>
  <tr>
    <th>Exercise</th>
    <th>Weights</th>
    <th>Sets</th>
    <th>Reps</th>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
</table>



<table>
  <tr>
    <th>Exercise</th>
    <th>Weights</th>
    <th>Sets</th>
    <th>Reps</th>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
</table>


<table>
  <tr>
    <th>Exercise</th>
    <th>Weights</th>
    <th>Sets</th>
    <th>Reps</th>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
</table>


<table>
  <tr>
    <th>Exercise</th>
    <th>Weights</th>
    <th>Sets</th>
    <th>Reps</th>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
</table>


<table>
  <tr>
    <th>Exercise</th>
    <th>Weights</th>
    <th>Sets</th>
    <th>Reps</th>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
  <tr>
    <td><input type="text" name="exercise" /></td>
    <td><input type="number" name="weight" /></td>
    <td><input type="number" name="sets" /></td>
    <td><input type="number" name="reps" /></td>  </tr>
  </tr>
</table><br><br>



















<% if (user) { %>
<form
  id="add-comment-form" method="POST" action="/programs/<%= program._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <button type="submit">Add Comment</button>
</form>
<% } %>

<% if (program.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% program.comments.forEach(function(c) { %>
        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
          <td><%= c.content%></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>


<% } %> <%- include('../partials/footer') %>


